---
import { languages } from "../i18n/ui";
import { useTranslations } from "../i18n/utils";
import CardsContainer from "./CardsContainer.astro";
import SectionDivider from "./SectionDivider.astro";

const currentLang = Astro.currentLocale || "en";
const t = useTranslations(currentLang as keyof typeof languages);

const options = [
  {
    body: "Android",
    btn: `
    <div class="flex flex-col gap-4">
      <a
        class="shadow-sl btn-s bg-(--primary) hover:bg-(--primary-95) text-[hsl(0,0%,95%)] cursor-pointer"
        href="https://github.com/StayBits/GigMap-mobile/releases/download/v0.1.0-sprint2/app-debug.apk"
      >${t("paraFans")}</a>

      <a
        class="shadow-sl btn-s bg-(--primary) hover:bg-(--primary-95) text-[hsl(0,0%,95%)] cursor-pointer"
        href="https://github.com/StayBits/GigMap-mobile-flutter/releases/download/v0.2.1/gigmap-mobile-flutter.apk"
      >${t("paraArtistas")}</a>
    </div>`,
    icon: "fa-brands fa-android",
  },
  {
    body: "Apple",
    btn: `<a class="shadow-sl btn-s bg-(--bg-lighter) text-(--text)">${t("proximamente")}</a>`,
    icon: "fa-brands fa-apple",
  },
];
---

<div class="pt-18">
  <CardsContainer
    title={t("descargarAhora")}
    subtitle={t("eligePlataforma")}
    cards={options}
    cols={2}
    variant="DOWNLOAD"
  />
  <SectionDivider />
</div>
